<app-profile-header></app-profile-header>
<app-profile-fixed-sidebar></app-profile-fixed-sidebar>
<main class="profile-main">
  <div class="container">
    <div class="cover-header">

    </div>
    <app-profile-nav></app-profile-nav>
    <div class="profile-body">
      <div class="body-sidebar">
        <app-profile-sidebar-left></app-profile-sidebar-left>
      </div>
      <div class="body-main">
        <app-profile-panels></app-profile-panels>
        <div class="show-more">
          <button>
            <i class="fas fa-ellipsis-h"></i>
          </button>
        </div>
      </div>
      <div class="body-sidebar">
        <app-profile-sidebar-right></app-profile-sidebar-right>
      </div>
    </div>
  </div>
</main>
